:root{
  /* Colors */
  --color-primary:#C8A503;
  --color-secondary:#643020;
  --color-yellow:#BC9C05;
  --color-white:#FFFFFF;
  --color-bnt:#1E3F3F;
  --color-card:#47934A;
  --color-placeholder: #000000;
  --font-farro:"Farro", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-primary);
}

/* -----código abaixo com os parâmetros do cabeçalho----- */
.cabecalho {
  font-family: var(--font-farro);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;  
  padding: 30px;
  background-color: var(--color-yellow);
}
.cabecalho_text {
  font-size: 1.75rem;
  font-weight: 700;
}
.navbar {
  display: flex;
  gap: 25px;
  justify-content: center;
  width: 100%;
}
.navbar_text {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.cabecalho_btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-farro);
  font-size: 1rem;
  font-weight: 700;
  padding: 16px 22px 16px 24px;
  color: var(--color-white);
  background-color: var(--color-bnt);
  border-radius: 50px;
  white-space: nowrap;
}

/* -----código abaixo com os parâmetros do hero/introdução----- */
.onda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
top: -380px;
  gap: 25px;
  margin-bottom: -280px;
}
.title_hero {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 3.25rem;
  text-align: center;
}
.desc_hero {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 1.375;
  font-weight: 400;
  text-align: center;
}

/* -----código abaixo com os parâmetros do about/sobre o jogo----- */
.about {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 1.563rem;
  width: 100%;
  z-index: 1;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: var(--color-secondary);
}
.title_about {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 2.625rem;
  text-align: center;
}
.desc_about {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
}

/* -----código abaixo com os parâmetros do operation/como funciona----- */
.operation {
  margin-top: 110px;
}
.title_operation {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 2.625rem;
  text-align: center;
  margin-bottom: 42px;
}
.textbox_container {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 112px;
}
.textbox_operation {
  position: relative;
  text-align: center;
}
.text {
  font-family: var(--font-farro);
  font-size: 16px;
  color: var(--color-white);
  position: absolute;
  margin-top: -15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.subtext {
  font-family: var(--font-farro);
  font-size: 13px;
  color: var(--color-white);
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.separator {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translateX(-50%);
  width: 10%;
}

/* -----código abaixo com os parâmetros do chars/personagens----- */
.title_chars {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 2.625rem;
  text-align: center;
  margin-bottom: 52px;
}
.charbox_container {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 112px;
}
.charbox_chars {
  position: relative;
  text-align: center;

}
.text_chars {
  font-family: var(--font-farro);
  font-size: 32px;
  font-weight: 700;
  color: var(--color-white);
  position: absolute;
  margin-top: 5px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.subtext_chars {
  font-family: var(--font-farro);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
}

/* -----código abaixo com os parâmetros do cadastro/formulário----- */
.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 152px;
}
.desc_cadastro {
position: absolute;
text-align: center;
font-family: var(--font-farro);
font-size: 24px;
font-weight: 400;
color: var(--color-white);
margin-top: 5px;
top: 12%;
left: 50%;
transform: translate(-50%, -50%);
white-space: nowrap;
}
.form_cadastro {
  font-family: var(--font-farro);
  color: var(--color-white);
font-size: 18px;
margin-top: 40px;
  position: absolute;
 display: flex;
 flex-direction: column;
 gap: 33px;
}
.input_cadastro {
  font-family: var(--font-farro);
  color: var(--color-placeholder);
  font-size: 16px;
  width: 488px;
  padding: 18px 20px;
  margin: 8px 0;
  margin-top: -22px;
  box-sizing: border-box;
  border-radius: 7px;
  border-color: var(--color-yellow);
}
.submit_cadastro {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-weight: 500;
  background-color: var(--color-bnt);
  padding: 18px 20px;
  border: none;
}
input::placeholder {
  font-family: var(--font-farro);
  color: var(--color-placeholder);
  font-size: 16px;
  opacity: 0.5;
}

/* -----código abaixo com os parâmetros do rodapé----- */
.rodape {
  font-family: var(--font-farro);
  color: var(--color-white);
  padding: 30px;
  padding-bottom: 50px;
  background-color: var(--color-yellow);
}
.rodape_container {
  display: flex;
  gap: 320px;
  justify-content: center;
}
.links_rodape {
  display: flex;
  flex-direction: column;
}
.title_rodape {
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 5px;
}
.links_text_rodape {
  text-decoration: none;
  font-size: 16px;
  font-weight: 250;
  color: var(--color-white);
  padding: 5px;
}
.copyright_rodape {
  font-size: 14px;
  font-weight: 500;
text-align: center; 
padding: 20px; 
}

/* -----código abaixo regula o scrolls das anchors tags----- */
#about {
  scroll-margin-top: 220px;
}
#operation {
  scroll-margin-top: 190px;
}
#chars {
  scroll-margin-top: 60px;
}

/* código abaixo com os parâmetros das imagens. as imagens de grama precisam de responsividade,
as demais não */
.onda_img_cabecalho {
  width: 100%;
  height: auto;
  margin-top: 70px;
  z-index: -1;
}
.grama1_img_hero {
  position: absolute;
  left: 0; 
  bottom: 0;
  margin-bottom: 3.288rem;   
  z-index: -1;
}
.grama2_img_hero {
  position: absolute;
  right: 0;
 top: 70px;
 z-index: -1;
}
.grama3_img_operation {
  position: absolute;
  right: 0;
 /* top: 790px; */
 bottom: -50%;
 transform: translateY(-50%);
 z-index: -1;
}
.star_img_operation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  margin-top: 37px;
}
.char {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
margin-bottom: 4px;
}
.chars_info{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
  
}
.chars_btns{
 
  position: absolute;
  display: flex;
  align-items: center;
  gap: 32px;
  right: 15%;
  transform: translate(-50%,-50%);
}
.chars_btns button{
  width: 37px;
  height: 37px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
}
.chars_btns button:hover{
  opacity: .8;
  box-shadow: 1px 0 10px #00000092;
}

.grama4_img {
  position: absolute;
  left: 0; 
  bottom: 0;
}

/* código abaixo com os parâmetros do botão de voltar para o topo */
.scrollbutton { 
  font-family: var(--font-farro);
  display: none; 
  position: fixed; 
  bottom: 30px; 
  right: 0.5%; 
  background-color: #ffffff; 
  color: #000000; 
  padding: 15px; 
  width: 1%;
  border-radius: 500px; 
  text-decoration: none; 
  font-size: 20px;
  transition: width 0.5s;
} 
.scrollbutton_text {
  font-size: 15px;
}
.scrollbutton:hover { 
 width: 1.5%;
 transition: 0.2s ease-out;
}
.up_arrow {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-out;

}
.up_arrow:hover {
  transition: 0.3s ease-out;
  transform: translateY(-5px)
}
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
 @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} 

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
 @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} 
/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

