:root{
  /* Colors */
  --color-primary:#C8A503;
  --color-secondary:#643020;
  --color-yellow:#BC9C05;
  --color-white:#FFFFFF;
  --color-bnt:#1E3F3F;
  --color-card:#47934A;

  --font-farro:"Farro", sans-serif;
  

  
}