:root{
  /* Colors */
  --color-primary:#C8A503;
  --color-secondary:#643020;
  --color-yellow:#BC9C05;
  --color-white:#FFFFFF;
  --color-bnt:#1E3F3F;
  --color-card:#47934A;
  --color-placeholder: #000000;
  --font-farro:"Farro", sans-serif;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-farro);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----código abaixo com os parâmetros do cabeçalho----- */


.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;

  align-items: center;
}

.nav-list ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
}
.nav-item a{
  transition: all .4s ease-in-out;
}
.nav-item a:hover{
  font-size: 20;
  color: var(--color-card);
  font-weight: 700;
}
.cabecalho {
  font-family: var(--font-farro);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
  background-color: var(--color-yellow);
}
.cabecalho_text {
  font-size: 1.75rem;
  font-weight: 700;
}
.navbar {
  display: flex;
  gap: 25px;
  justify-content: center;
  width: 100%;
}
.navbar_text {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.cabecalho_btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-farro);
  font-size: 1rem;
  font-weight: 700;
  padding: 16px 22px 16px 24px;
  color: var(--color-white);
  background-color: var(--color-bnt);
  border-radius: 50px;
  white-space: nowrap;
  transition:  all .4s ease-in-out;
}
.cabecalho_btn:hover{
  background-color:var(--color-card)
}
.btn{
  width: 178px;
  font-weight: 700;
  display: block;
  text-align: center;
  border-radius: 50px;
  padding: 16px 22px 16px 24px;
  margin: 5px auto;
  font-size: 1rem;
  background-color: var(--color-bnt);
  color: var(--color-white);
  transition: all .4s ease-in-out;

}
.btn:hover{
background-color: var(--color-card);
}





/* responsividade - menu mobile */

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 1000px){
  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .cabecalho_btn{
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }
  
  .mobile-menu .nav-item {
    display: block;
    padding-bottom: 1.2rem;
  }

  .mobile-menu .cabecalho_btn {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .cabecalho_btn button {
    width: 100%;
  }

  .open {
    display: block;
  }
}

/* -----código abaixo com os parâmetros do hero/introdução----- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 25px;
  width: 100%;

  background-image: url(../img/background/Element.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  justify-content: center;
  margin-top: 100px;
}

.hero p{
  width: 30%;
}

.title_hero {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 3.25rem;
  text-align: center;
}
.desc_hero {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 1.375;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1500px){
  .hero p {
    font-size: 16px;
    width: 80%;
  }
}

@media screen and (max-width: 650px){
  .hero{
    width: 100%;
    height: 60%;
    padding-bottom: 50px;
  }

  .hero h1 {
    font-size: 32px;
    width: 90%;
  }

  .hero p {
    font-size: 16px;
    width: 90%;
  }
  .hero .cabecalho_btn{
    position: absolute;
   
    
  }
}

/* -----código abaixo com os parâmetros do about/sobre o jogo----- */
.about {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 1.563rem;
  width: 100%;
  z-index: 1;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: var(--color-secondary);
}
.title_about {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 2.625rem;
  text-align: center;
}
.desc_about {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  line-height: 35px;
}

.about p {
  width: 50%;
}

@media screen and (max-width: 1000px){
  .about p {
    width: 80%;
   
  }
  .desc_about{
    
    font-size: 1.2rem;
    padding: 4px;
    line-height: 32px;
  }
}

/* -----código abaixo com os parâmetros do operation/como funciona----- */

.operation {
  margin-top: 110px;
  width: 90%;
}
.title_operation {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 2.625rem;
  text-align: center;
  margin-bottom: 42px;
}
.textbox_container {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 112px;
}
.textbox_operation {
  position: relative;
  text-align: center;
  width: 100%;
}
.text {
  font-family: var(--font-farro);
  font-size: 16px;
  color: var(--color-white);
  position: absolute;
  margin-top: -15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.subtext {
  font-family: var(--font-farro);
  font-size: 13px;
  color: var(--color-white);
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.separator {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translateX(-50%);
  width: 10%;
}

@media screen and (max-width: 1300px){
  .textbox_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.textbox_card {
  background-color: #bc9c05;
  width: 90%;
  height: 284px;
  border-radius: 30px;
  border: solid 2px #643020;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.textbox_card_text {
  font-family: var(--font-farro);
  font-size: 16px;
  color: var(--color-white);
  width: 90%;
}

.textbox_card_subtext{
  font-family: var(--font-farro);
  font-size: 13px;
  color: var(--color-white);
  width: 90%;
}

.textbox_separador {
  background-color: #c9ac19;
  height: 1px;
  width: 80%;
  border-radius: 50%;
}

/* -----código abaixo com os parâmetros do chars/personagens----- */
.chars_web{
  display: block;
}
.title_chars {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 2.625rem;
  text-align: center;
  margin-bottom: 52px;
}
.charbox_container {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 112px;
}
.charbox_chars {
  position: relative;
  text-align: center;

}
.charbox_chars img{
  width:384px;
  height: 442px;
  object-fit: cover;
}
.chars_mobile{
  display: none;
}

@media screen and (max-width: 1300px){
  .charbox_chars_background {
    width: 90%;
  }
  .chars_web{
    display: none;
  }
  
  .chars_mobile{
    
    display: block;
    margin: 50px auto;
    padding: 5px;
    position: relative;
  }
  .charbox_container::-webkit-scrollbar{
    display: none;
  }
  .chars_mobile .charbox_container{
    display: flex;
    width: 380px;
    margin: auto  ;
    flex-flow: row nowrap;
    overflow-x: scroll;
    
  }
  .arrow{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 2px 2px 0px #626262;
  
  }
 
  .mobile-info{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
   
  }
}


/* -----código abaixo com os parâmetros do cadastro---- */

input::placeholder {
  font-family: var(--font-farro);
  color: var(--color-placeholder);
  font-size: 16px;
  opacity: 0.5;
}

.cadastro {
  background-color: #643020;
  width: 64%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

.desc_cadastro{
  text-align: center;
  font-family: var(--font-farro);
  font-size: 24px;
  font-weight: 400;
  color: var(--color-white);
  width: 60%;
  line-height: 35px;
}

.form_cadastro {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: var(--font-farro);
  color: var(--color-white);
  font-size: 18px;
  margin-top: 50px;
  width: 40%;
}
.form_campo{
 padding: 5px;
  
}
.form_campo .form-span{
  display: block;
  font-size: 12px;
  color: #f60404;
   padding: 7px; 
  background-color: #ead5d4;
  border-radius: 5px;
  margin-top: 5px;
  visibility: hidden;
}
.input_cadastro{
  font-family: var(--font-farro);
  color: var(--color-placeholder);
  font-size: 16px;
  width: 100%;
  padding: 18px 12px;
  border-radius: 7px;
  border-color: var(--color-yellow);
 
}
input[type="date"] {
  color: #7f7f7f;
}

.form_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.submit_cadastro {
  font-family: var(--font-farro);
  color: var(--color-white);
  font-weight: 500;
  background-color: var(--color-bnt);
  padding: 18px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 1500px){
  .desc_cadastro{
    width: 90%;
  }
}

@media screen and (max-width: 1300px){
  .form_cadastro{
    width: 70%;
  }

  .desc_cadastro{
    font-size: 20px;
    padding: 0 18px;
  }
 
}

@media screen and (max-width: 600px){
  .cadastro{
    width: 90%;
  }
}

/* -----código abaixo com os parâmetros do rodapé----- */
.rodape {
  font-family: var(--font-farro);
  color: var(--color-white);
  padding: 30px;
  padding-bottom: 50px;
  background-color: var(--color-yellow);
}
.rodape_container {
  display: flex;
  gap: 320px;
  justify-content: center;
}
.links_rodape {
  display: flex;
  flex-direction: column;
}
.title_rodape {
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 5px;
}
.links_text_rodape {
  text-decoration: none;
  font-size: 16px;
  font-weight: 250;
  color: var(--color-white);
  padding: 5px;
}
.copyright_rodape {
  font-size: 14px;
  font-weight: 500;
text-align: center; 
padding: 20px; 
}

@media screen and (max-width: 1300px){
  .rodape_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
}
/* -----código abaixo regula o scrolls das anchors tags----- */
#about {
  scroll-margin-top: 220px;
}
#operation {
  scroll-margin-top: 190px;
}
#chars {
  scroll-margin-top: 60px;
}

/* código abaixo com os parâmetros das imagens. as imagens de grama precisam de responsividade,
as demais não */
.onda_img_cabecalho {
  width: 100%;
  height: auto;
  margin-top: 70px;
  z-index: -1;
}


.grama1_img_hero {
  position: absolute;
  left: 0; 
  bottom: 0;
  margin-bottom: 10rem;   
  z-index: 1;
}
.grama2_img_hero {
  position: absolute;
  right: 0;
  top: 200px;
  z-index: 1;
}
.grama3_img_operation {
  position: absolute;
  right: 0;
 /* top: 790px; */
 bottom: -57%;
 transform: translateY(-50%);
 z-index: -1;
}

@media screen and (max-width: 1200px){
  .grama1_img_hero{
    width: 50px;
    top: -90px;
  }

  .grama2_img_hero{
    width: 100px;
    margin-top: 200px;
  }
  .grama3_img_operation {
    position: absolute;
    right: 0;
   /* top: 790px; */
   bottom: -50%;
   transform: translateY(-80%);
   z-index: -1;
  }
}

@media screen and (max-width: 650px){
  .grama2_img_hero{
    margin-top: -10px;
  }

  .grama4_img{
    display: none;
  }
}

/* .star_img_operation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  margin-top: 37px;
} */
.char {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
margin-bottom: 4px;
}
.chars_info{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
  
}
.chars_btns{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 32px;
  right: 0%;
  transform: translate(-50%,-50%);
}
.chars_btns button{
  width: 37px;
  height: 37px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: 2px 2px 0px #626262;
}
.chars_btns button:hover{
  opacity: .8;
  box-shadow: inset 2px 2px 0px #626262;
}

@media screen and (max-width: 1300px){
  .chars_btns{
    top: 70%;
    right: 22%;
  }
}

.grama4_img {
  width: 320px;
  position: absolute;
  left: 0; 
  bottom: 0;
  z-index: 5;
  top: 175rem;
}

/* código abaixo com os parâmetros do botão de voltar para o topo */
.scrollbutton {
   width: 45px;
   height: 45px;
   font-family: var(--font-farro);
   background-color: var(--color-white);
   position: fixed; 
   right: 0.5%; 
   bottom: 30px; 
   padding: 5px;
   border-radius: 50%;
   /* font-size: 20px; */
   transition: all .5s ease-in-out;
  
} 
.scrollbutton_text {
  font-size: 15px;
}
.scrollbutton:hover { 
 width: 52px;
 height: 52px;
}
.up_arrow {
   width: 100%;
  display: block;
  margin: 0 auto;
  
  transition: 0.3s ease-out;

}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* zoomIn */
 @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} 

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
 @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} 
/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}